# Database
#DATABASE_URL="mysql://user:password@localhost:3306/jira_tools"
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DATABASE_URL="mysql://root:root@localhost:3306/jira_tools_db"

# JWT
JWT_SECRET="JIRA-Tools-POC"

# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_NODE_API_URL=http://localhost:3000

# Jira API
JIRA_BASE_URL=https://wdcsgroup.atlassian.net
JIRA_EMAIL=sandeep@webcluesinfotech.com
JIRA_API_TOKEN=ATATT3xFfGF0xcgPpx4misoHAmSwnYdZCpMylWdlVlt6SKw4i8iD3-xdbaBq5ukUVhwnsckH5ON0XHbOlCXdssUSlFAZOG58REBfptndriBdqlmrRPQdEwFHcEe3Qf2G99T4ZJsNO0G_BdMzW2raCjnsALY3v5vQTEXuXlGsHQeMhcQzhIVjJw8=CB5CB5A5

# Client-side Jira API (for browser access)
NEXT_PUBLIC_JIRA_EMAIL=sandeep@webcluesinfotech.com
NEXT_PUBLIC_JIRA_API_TOKEN=ATATT3xFfGF0xcgPpx4misoHAmSwnYdZCpMylWdlVlt6SKw4i8iD3-xdbaBq5ukUVhwnsckH5ON0XHbOlCXdssUSlFAZOG58REBfptndriBdqlmrRPQdEwFHcEe3Qf2G99T4ZJsNO0G_BdMzW2raCjnsALY3v5vQTEXuXlGsHQeMhcQzhIVjJw8=CB5CB5A5
