# Server Configuration
PORT=3000

# Jira API Configuration
JIRA_BASE_URL=https://wdcsgroup.atlassian.net
JIRA_AUTH_TOKEN=ATATT3xFfGF0xcgPpx4misoHAmSwnYdZCpMylWdlVlt6SKw4i8iD3-xdbaBq5ukUVhwnsckH5ON0XHbOlCXdssUSlFAZOG58REBfptndriBdqlmrRPQdEwFHcEe3Qf2G99T4ZJsNO0G_BdMzW2raCjnsALY3v5vQTEXuXlGsHQeMhcQzhIVjJw8=CB5CB5A5

# Example of how to generate the auth token:
# echo -n "email:api_token" | base64
# Replace email with your Jira email and api_token with your Jira API token
